apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../../base
- namespace.yaml
namespace: bachelor-sit
namePrefix: sit-
commonLabels:
  env: sit
patches:
- target:
    kind: Deployment
    name: bachelor-web
  patch: |-
    - op: replace
      path: /spec/replicas
      value: 1
