apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../../base
- namespace.yaml
- debug-pod.yaml
namespace: bachelor-dev
namePrefix: dev-
commonLabels:
  env: dev
secretGenerator:
- name: db-secret
  literals:
  - username=dev_user
  - password=dev_pass_secure
  options:
    disableNameSuffixHash: true # <--- DETTE ER FIXET
patches:
- target:
    kind: Deployment
    name: bachelor-web
  patch: |-
    - op: replace
      path: /spec/replicas
      value: 1