apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../../base
- namespace.yaml
namespace: bachelor-tfe
namePrefix: tfe-
commonLabels:
  env: pre-prod
secretGenerator:
- name: db-secret
  literals:
  - username=tfe_readonly
  - password=prod_read_secret
  options:
    disableNameSuffixHash: true
patches:
- target:
    kind: Deployment
    name: bachelor-web
  patch: |-
    - op: replace
      path: /spec/replicas
      value: 2