# /ansible/playbooks/01-os-prep.yaml
---
- name: 1. OS Forberedelse for Kubernetes
  hosts: all
  become: yes
  gather_facts: yes
  
  tasks:
    - name: Kontroller om swap er aktivt
      ansible.builtin.shell: "swapon -s"
      register: swap_check
      ignore_errors: yes

    - name: Deaktiver Swap (K8s krav)
      when: swap_check.stdout | length > 0
      block:
        - name: Deaktiver swap midlertidigt
          ansible.builtin.command: swapoff -a
        
        - name: Kommenter swap ud i /etc/fstab
          ansible.builtin.replace:
            path: /etc/fstab
            regexp: '^(\s*)([^#]+\s+swap\s+[^#]+)'
            replace: '# \2'

    - name: Installer Præ-krav (cURL, unzip, LVM2, Python PIP)
      ansible.builtin.apt:
        name:
          - curl
          - unzip
          - lvm2 
          - software-properties-common
          - python3-pip
          - ufw
        state: present
        update_cache: yes
      tags: install

    - name: Deaktiver Firewall (UFW) permanent
      ansible.builtin.systemd:
        name: ufw
        state: stopped      # Stopper tjenesten med det samme
        enabled: no         # Sætter den til 'disabled' ved boot
        daemon_reload: yes
      ignore_errors: true

    - name: Opsæt Kernel Moduler (overlay, netfilter)
      ansible.builtin.blockinfile:
        path: /etc/modules-load.d/k8s.conf
        block: |
          overlay
          br_netfilter
        create: yes
        owner: root
        group: root
        mode: '0644'

    - name: Konfigurer Sysctl til Kubernetes
      ansible.builtin.blockinfile:
        path: /etc/sysctl.d/k8s.conf
        block: |
          net.bridge.bridge-nf-call-iptables  = 1
          net.ipv4.ip_forward                 = 1
          net.bridge.bridge-nf-call-ip6tables = 1
        create: yes
        owner: root
        group: root
        mode: '0644'

    - name: Reload Sysctl (Anvend kernel ændringer)
      ansible.builtin.command: sysctl --system

    - name: Opgrader PIP til seneste version
      ansible.builtin.command: python3 -m pip install --upgrade pip

- name: Tving Genstart for at Aktivere Kernel Moduler
  ansible.builtin.reboot:
    reboot_timeout: 600 # Vent op til 10 minutter på genstart

- name: Vent 60 sekunder på at SSH er fuldt oppe efter genstart
  ansible.builtin.pause:
    seconds: 60