# /ansible/playbooks/01-os-prep.yaml
---
- name: 1. OS Forberedelse for Kubernetes
  hosts: all
  become: yes
  gather_facts: yes
  
  tasks:
    - name: Kontroller om swap er aktivt
      ansible.builtin.shell: "swapon -s"
      register: swap_check
      ignore_errors: yes

    - name: Deaktiver Swap (K8s krav)
      when: swap_check.stdout | length > 0
      block:
        - name: Deaktiver swap midlertidigt
          ansible.builtin.command: swapoff -a
        
        - name: Kommenter swap ud i /etc/fstab
          ansible.builtin.replace:
            path: /etc/fstab
            regexp: '^(\s*)([^#]+\s+swap\s+[^#]+)'
            replace: '# \2'

    - name: Installer Præ-krav (cURL, unzip, LVM2)
      ansible.builtin.apt:
        name:
          - curl
          - unzip
          - lvm2 
          - software-properties-common
        state: present
        update_cache: yes

    - name: Opsæt Kernel Moduler (overlay, netfilter)
      ansible.builtin.blockinfile:
        path: /etc/modules-load.d/k8s.conf
        block: |
          overlay
          br_netfilter
        create: yes
        owner: root
        group: root
        mode: '0644'

    - name: Konfigurer Sysctl til Kubernetes
      ansible.builtin.blockinfile:
        path: /etc/sysctl.d/k8s.conf
        block: |
          net.bridge.bridge-nf-call-iptables  = 1
          net.ipv4.ip_forward                 = 1
          net.bridge.bridge-nf-call-ip6tables = 1
        create: yes
        owner: root
        group: root
        mode: '0644'

    - name: Reload Sysctl (Anvend kernel ændringer)
      ansible.builtin.command: sysctl --system

    - name: 7. Installer Python PIP og Opgrader
      ansible.builtin.apt:
      name: python3-pip
      state: present
      update_cache: yes

    - name: 8. Opgrader PIP til seneste version
      ansible.builtin.command: python3 -m pip install --upgrade pip

    - name: Genstart for at sikre kernel ændringer
      ansible.builtin.reboot:
      when: "'reboot_required' in ansible_facts.keys()"
      ignore_errors: yes

