# /ansible/playbooks/01-os-prep.yaml
---
- name: 1. OS Forberedelse for Kubernetes
  hosts: all
  become: yes
  gather_facts: yes
  
  tasks:
    - name: 1.1 Kontroller om swap er aktivt
      ansible.builtin.shell: "swapon -s"
      register: swap_check
      ignore_errors: yes

    - name: 1.2 Deaktiver Swap (K8s krav)
      when: swap_check.stdout | length > 0
      block:
        - name: Deaktiver swap midlertidigt
          ansible.builtin.command: swapoff -a
        
        - name: Kommenter swap ud i /etc/fstab
          ansible.builtin.replace:
            path: /etc/fstab
            regexp: '^(\s*)([^#]+\s+swap\s+[^#]+)'
            replace: '# \2'

    - name: 1.3 Installer Præ-krav (cURL, unzip, LVM2, Python PIP)
      ansible.builtin.apt:
        name:
          - curl
          - unzip
          - lvm2 
          - software-properties-common
          - python3-pip
          - ufw
        state: present
        update_cache: yes
      tags: install

    - name: 1.4 Deaktiver Firewall (UFW) permanent og stop tjenesten
      ansible.builtin.systemd:
        name: ufw
        state: stopped
        enabled: no
        daemon_reload: yes
      ignore_errors: true

    - name: 1.5 Opsæt Kernel Moduler (overlay, netfilter)
      ansible.builtin.blockinfile:
        path: /etc/modules-load.d/k8s.conf
        block: |
          overlay
          br_netfilter
        create: yes
        owner: root
        group: root
        mode: '0644'

    - name: 1.6 Konfigurer Sysctl til Kubernetes
      ansible.builtin.blockinfile:
        path: /etc/sysctl.d/k8s.conf
        block: |
          net.bridge.bridge-nf-call-iptables  = 1
          net.ipv4.ip_forward                 = 1
          net.bridge.bridge-nf-call-ip6tables = 1
        create: yes
        owner: root
        group: root
        mode: '0644'

    - name: 1.7 Reload Sysctl (Anvend kernel ændringer)
      ansible.builtin.command: sysctl --system

    - name: 1.8 Opgrader PIP til seneste version
      ansible.builtin.command: python3 -m pip install --upgrade pip

    # --- TVUNGET GENSTART ---
    # Vi fjerner 'when' betingelsen for at garantere genstart
    - name: 1.9 Tving Genstart for at Aktivere Kernel Moduler
      ansible.builtin.reboot:
        msg: "Rebooting node to apply Kubernetes kernel settings"
        reboot_timeout: 600
        
    - name: 1.10 Vent på at noder er tilbage
      ansible.builtin.wait_for_connection:
        delay: 10
        timeout: 300