# /ansible/playbooks/02-k3s-install.yaml
---
# ==============================================================================
# PLAY 1: K3s Installation (Kører på K8s Noder)
# ==============================================================================
- name: 1. Installer K3s Masters og Workers
  hosts: all
  become: yes
  gather_facts: no
  vars:
    k3s_version: "v1.29.3+k3s1" 
    k3s_master_init_args: "--cluster-init --bind-address {{ internal_ip }} --advertise-address {{ internal_ip }} --disable traefik --disable servicelb --tls-san 192.168.8.101 --tls-san 192.168.8.102"
    k3s_master_join_args: "--bind-address {{ internal_ip }} --advertise-address {{ internal_ip }} --disable traefik --disable servicelb --tls-san 192.168.8.101 --tls-san 192.168.8.102"
    k3s_worker_args: "--node-ip {{ internal_ip }}"

  tasks:
    - name: 1.1 Installer K3s på Master 1 (Cluster Init)
      ansible.builtin.shell: |
        curl -sfL https://get.k3s.io | INSTALL_K3S_EXEC="{{ k3s_master_init_args }}" INSTALL_K3S_VERSION="{{ k3s_version }}" sh -
      when: inventory_hostname == 'b-k8s-master-1'
      
    - name: 1.2 Hent K3s Node Token fra Master 1
      ansible.builtin.shell: cat /var/lib/rancher/k3s/server/node-token
      register: k3s_token_result
      delegate_to: b-k8s-master-1 
      run_once: true

    - name: 1.3 Gem Token (Fact)
      ansible.builtin.set_fact:
        k3s_node_token: "{{ k3s_token_result.stdout }}"
      run_once: true

    - name: 1.4 Installer K3s på Master 2 (Join til Clusteret)
      ansible.builtin.shell: |
        curl -sfL https://get.k3s.io | K3S_URL=https://10.0.0.101:6443 K3S_TOKEN="{{ k3s_node_token }}" K3S_ROLE="server" INSTALL_K3S_EXEC="{{ k3s_master_join_args }}" INSTALL_K3S_VERSION="{{ k3s_version }}" sh -
      when: inventory_hostname == 'b-k8s-master-2' and k3s_node_token is defined

    - name: 1.5 Installer K3s på Workers (Join til Clusteret)
      ansible.builtin.shell: |
        curl -sfL https://get.k3s.io | K3S_URL=https://10.0.0.101:6443 K3S_TOKEN="{{ k3s_node_token }}" INSTALL_K3S_EXEC="{{ k3s_worker_args }}" INSTALL_K3S_VERSION="{{ k3s_version }}" sh -
      when: inventory_hostname is in groups['k3s_workers'] and k3s_node_token is defined

    - name: 1.6 Kopier Kubeconfig til Admin Node (30100)
      ansible.builtin.fetch:
        src: /etc/rancher/k3s/k3s.yaml
        dest: /home/gitops/.kube/config-k3s
        flat: yes
        fail_on_missing: yes
      when: inventory_hostname == 'b-k8s-master-1'
      
# ==============================================================================
# PLAY 2: Cluster Hardening og Labeling (Kører fra Admin Node: localhost)
# ==============================================================================
- name: 2. Cluster Hardening og Labeling (Kørt fra Admin Node)
  hosts: localhost 
  become: no
  gather_facts: no
  vars:
    kubeconfig_path: "/home/gitops/.kube/config-k3s"
    
  tasks:
    - name: 2.1 Vent på at K8s API er klar (Tjekkes fra Master 1 INDEFRA 10-nettet)
      ansible.builtin.shell: |
        curl -s -k --location --max-time 10 https://10.0.0.101:6443/ping
      register: k3s_ping
      until: k3s_ping.rc == 0
      retries: 30 
      delay: 10
      delegate_to: b-k8s-master-1

    - name: 2.2 Vent på at alle 4 Noder er Ready
      ansible.builtin.shell: |
        kubectl --kubeconfig {{ kubeconfig_path }} get nodes | grep -v 'NotReady' | grep -v 'NAME' | wc -l
      register: nodes_ready
      until: nodes_ready.stdout.strip() | int == 4 
      retries: 40 
      delay: 10
      delegate_to: localhost

    - name: 2.3 Anvend Topology Label (Fysisk Host)
      ansible.builtin.shell: |
        kubectl --kubeconfig {{ kubeconfig_path }} label node {{ item.0 }} topology.kubernetes.io/zone={{ item.1 }} --overwrite
      loop:
        - [ "b-k8s-master-1", "{{ hostvars['b-k8s-master-1']['pve_host'] }}" ]
        - [ "b-k8s-master-2", "{{ hostvars['b-k8s-master-2']['pve_host'] }}" ]
        - [ "b-k8s-worker-1", "{{ hostvars['b-k8s-worker-1']['pve_host'] }}" ]
        - [ "b-k8s-worker-2", "{{ hostvars['b-k8s-worker-2']['pve_host'] }}" ]
      delegate_to: localhost

    - name: 2.4 Taint Master Noder (Kun til Kontrol Plan)
      ansible.builtin.shell: |
        kubectl --kubeconfig {{ kubeconfig_path }} taint node {{ item }} node-role.kubernetes.io/control-plane=true:NoSchedule --overwrite
      loop:
        - b-k8s-master-1
        - b-k8s-master-2
      delegate_to: localhost

    - name: 2.5 Kopier Kubeconfig til standard sti for kubectl
      ansible.builtin.copy:
        src: "{{ kubeconfig_path }}"
        dest: "{{ ansible_env.HOME }}/.kube/config"
        remote_src: yes
        mode: '0600'
        owner: gitops
      delegate_to: localhost