apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../../base
- namespace.yaml
namespace: bachelor-fkt
namePrefix: fkt-
commonLabels:
  env: fkt
secretGenerator:
- name: db-secret
  literals:
  - username=fkt_user
  - password=fkt_pass
  options:
    disableNameSuffixHash: true
patches:
- target:
    kind: Deployment
    name: bachelor-web
  patch: |-
    - op: replace
      path: /spec/replicas
      value: 1