apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../../base
- namespace.yaml
namespace: bachelor-tst
namePrefix: tst-
commonLabels:
  env: test
secretGenerator:
- name: db-secret
  literals:
  - username=tst_user
  - password=tst_password
  options:
    disableNameSuffixHash: true
patches:
- target:
    kind: Deployment
    name: bachelor-web
  patch: |-
    - op: replace
      path: /spec/replicas
      value: 1